*.DS_Store

# Build Stuff
HarmonyEngine/build/*

# Binary Stuff
*.o

# VSCode Stuff
.vscode/settings.json

# CMake

HarmonyEngine/CMakeCache.txt
HarmonyEngine/CMakeFiles/
HarmonyEngine/HarmonyEngine
HarmonyEngine/Makefile
HarmonyEngine/cmake_install.cmake