[submodule "HarmonyEngine/include/imgui"]
	path = HarmonyEngine/include/imgui
	url = https://github.com/Nick-Fanelli/imgui
[submodule "HarmonyEngine/include/yaml-cpp"]
	path = HarmonyEngine/include/yaml-cpp
	url = https://github.com/Nick-Fanelli/yaml-cpp.git
